body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden
}
div.terminal {
  line-height: 120%;
}
.terminal-cursor {
  background: rgba(255, 255, 255, 0.4);
}
a {
  color: white;
}
