@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu+Mono');

body {
  font-family: 'Lato';
}
.remark-slide-content {
  padding: 0.5em 3em 0.5em 3em;
}
h1 {
  text-align: center;
  font-size: 30px;
}
h1, h2, h3 {
  font-family: 'Lato';
  font-weight: normal;
}
.remark-slide-content {
  font-size: 20px;
}
.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
  font-size: 90%;
}
.footnote.bottom {
  position: absolute;
  bottom: 12px;
  left: 20px;
}
.footnote.bottom img {
  vertical-align: baseline;
}
.xsmall{
  font-size: 12px;
}
.small {
  font-size: 15px;
}
.smaller {
  font-size: 20px;
}
.remark-slide-number {
  font-size: 20px;
  opacity: 1;
}
h4 {
  margin-bottom: 5px;
}
h4 + pre {
  margin-top: 5px;
}
td, th{
  border: solid gray 2px;
  padding: 3px;
  text-align: left;
}
td:empty {
  padding: 0;
}
.center table {
  width: 700px;
  border-collapse: collapse;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
code.remark-inline-code {
  background-color: #F0F0F0;
}
div.center.middle code.remark-inline-code {
  background-color: white;
}

@page {
  size: 908px 681px;
  /*size: 1210px 681px;*/
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
